@import url("global.css");

@import url("navbar.css");

@import url("landing.css");

@import url("footer.css");

@import url("auth.css");

@import url("animations.css");

@import url("responsive.css");



.input-error{
    border:2px solid #ff4d4d !important;
}

.input-success{
    border:2px solid #00c853 !important;
}

.error-message{
    display:block;
    margin-top:6px;
    color:#ff4d4d;
    font-size:13px;
    font-weight:500;
}